.loading-box {
  display: none;
}

svg.loading {
  width: 50px;
  height: 50px;

  animation: loading-rotate 1.4s linear infinite;
  -webkit-animation: loading-rotate 1.4s linear infinite;
}

svg.loading > circle.loading__circle {
  stroke: var(--mainDark);
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0px;

  animation: loading-stroke-circle 1.4s ease-in-out infinite;
  -webkit-animation: loading-stroke-circle 1.4s ease-in-out infinite;
}
svg.loading > circle.loading__circle:hover {
  stroke: var(--main);
}

@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loading-stroke-circle {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}
