* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  text-align: center;
}
p.verso {
  color: blue;
}
p.mote {
  color: red;
}
a.link:visited {
  color: tomato;
}
a.link:hover {
  color: orange;
}
img {
  border-radius: 50%;
}
div.poeta {
  border-radius: 50%;
}
